@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes moveClouds {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(1100%);
    }
  }
  
  .cloud {
    position: absolute;
    background: url('../public/assets/Cloud-edited.png') no-repeat center;
    background-size: cover;
    width: 1000px; 
    height: 200px; 
  }
  
  .cloud1 {
    animation: moveClouds 60s linear infinite;
    top: 10%;
    left: -200px; 
  }
  
  .cloud2 {
    animation: moveClouds 70s linear infinite;
    top: 40%;
    left: -200px; 
    opacity: 0.5;
  }
  
  .cloud3 {
    animation: moveClouds 80s linear infinite;
    top: 70%;
    left: -200px; 
    opacity: 0.7;
  }

  .color-burn {
    mix-blend-mode: color-burn;
  }


  .submitBTN {
    background: linear-gradient(90deg, orange 50%, red 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.5s ease-in-out;
  }
  
  .submitBTN:hover {
    background-position: left;
    color: black;
  }


  /* From Uiverse.io by Valeron-T */ 
.card {
  display: flex;
  height: 70px;
  width: 350px;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4,.card .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #242c34;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.card .social-link5:hover {
  background-color: #ff8000;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}